<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">

                        <div class="col-lg-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Email</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="doc.user.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Password</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="doc.user.password">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <button type="submit" class="btn btn-info waves-effect waves-light" ng-click="save()">Save</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
