<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="header-title m-t-0 m-b-30" style="float: left;">Users List</h4>
                        <!-- <a type="button" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" style="float: right;" href="#!/discount/add">Add</a> -->

                        <div id="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter ui-grid-importer class="grid" style="margin-top: 55px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
