<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <a type="button" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" style="float: right;" href="#!/tool/add">Add</a>

                        <div id="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-exporter class="grid" style="margin-top: 55px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
